
.intro {
    display: flex;
    flex-direction: row;
    padding-left: 37px;
    margin-bottom: 100px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro div {
    width: 50%;
}

.intro img{
    width: 100%;
}

.intro h1{
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
}

.intro p{
    background-color: #fedc3d;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 16px;
}

.skills{
    margin-bottom: 100px;
}
.skill-container{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.skill-box img{
    width: 200px;
}

.skill-box{
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 3px 10px black;
    border-radius: 11px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;

    box-shadow: 0px 3px 10px black;
    padding: 20px;
    border-radius: 5px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form label{
    font-size: 17px;
    padding: 10px;
}

.contact-form input{
    padding: 10px;
    border-radius: 5px;
}

.contact-form textarea{
    padding: 10px;
    border-radius: 5px;
}

button{
    padding: 10px;
    margin-top: 10px;
}

.social {
    display: flex;
    flex-direction: column;
    position: fixed; 
    right:1%;
    bottom: 50%;
}

.socicon{
    width: 32px;
    height: 32px;
}

